<!DOCTYPE html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Прогнозирование глубины и ширины сварного шва</title>
</head>

<form action="{{url_for('main')}}" method="POST">
    <h3>Прогнозирование глубины и ширины сварного шва</h3>
    <fieldset>
        <p>Введите значения</p>
        Величина зарядного тока IW
        <input name = "IW" type="number" required>
        <br>
        Ток фокусировки электронного пучка IF
        <input name = "IF" type="number" required>
        <br>
        Скорость сварки VW
        <input name = "VW" type="number" required>
        <br>
        Расстояние от поверхности образцов до электронно-оптической системы FP
        <input name = "FP" type="number" required>
        <br>
        <input type="submit">
    </fieldset>
    
</form>

<div class="result" align="center">
    {% if result %}
        <br>
        <p style="font-size: 16px">
        Прогнозируемая глубина шва (Depth)
        </p>
        <p style="font-size: 24px"> {{depth}}</p>
        <p style="font-size: 16px">
        Прогнозируемая ширина шва (Width)
        </p>
        <p style="font-size: 24px"> {{width}}</p>
    {% endif %}
</div>